.products-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-inline: 100px;
}

.product-card {
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-block: 20px;
  position: relative;

  img {
    width: 100%;
  }

  .del-product {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    background-color: transparent;
    border: none;

    svg {
      fill: #c0392b;
      font-size: 30px;
    }
  }

  .product-details {
    padding: 10px;

    h3 {
      color: #e74c3c;
      font-size: 20px;
      text-align: center;
      margin-block: 15px;

    }

    h5 {
      color: #60a5fa;
      font-size: 16px;
      margin-block: 15px;

    }

  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: #60a5fa;
      color: white;
      border: none;
      font-size: 25px;
      padding: 15px 40px;
      cursor: pointer;
    }
  }
}